@font-face{
    font-family: 'GhostClan';
    src: url('../ghostclan.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'ScoutCond-Regular';
    src: url('../ScoutCond\ Regular.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'ScoutCond-Italic';
    src: url('../ScoutCond\ RegularItalic.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
*{
    font-family: ScoutCond-Regular, sans-serif;
    letter-spacing: 0.05em;
    font-size: 32px;
}

body{
    margin: 0px 0px 0px 0px;
    background-color: darkslategray;
}

#head_container{
    height: 100px;
    width: auto;
    background-color: slategray;
}
#home_button{
    height: 50px;
    font-size: 40px;
    font-family: GhostClan, sans-serif;
    font-style: italic;
    letter-spacing: 0.05em;
    border: 0px;
    background-color: slategray;
    color: white;
    margin-top: 25px;
    margin-left: 10px;
    cursor: pointer;
}

#button_container{
    height: 120px;
    width: 960px;
    margin: 20px auto 8px;
    border: 1px solid white;
    position: relative;
    background-color: slategray;
}
#button_container>div{
    position: absolute;
}
#game_mode_container{
    height: 45px;
    width: 640px;
    top: 10px;
    left: 10px;
}
#basic_setting_container{
    height: 45px;
    width: 560px;
    bottom: 10px;
    left: 10px;
}
#floor_container{
    height: 45px;
    width: 390px;
    bottom: 10px;
    right: 10px;
}
#show_all_toggle_container{
    height: 45px;
    width: 200px;
    right: 18px;
    top: 10px;
}
.game_mode{
    width: 20%;
    height: 45px;
    margin-right: -5px;
    padding: 0px;
    background-color: slategray;
    border: 1px solid white;
    cursor: pointer;
}
.basic_setting{
    height: 45px;
    width: 17%;
    margin-right: -5px;
    padding: 0px;
    background-color: slategray;
    border: 1px solid white;
    cursor: pointer;
}
.floor{
    width: 16.6667%;
    height: 45px;
    margin-right: -4.7px;
    padding: 0px;
    background-color: slategray;
    border: 1px solid white;
    cursor: pointer;
}
#show_all_toggle{
    width: 200px;
    height: 45px;
    padding: 0px;
    background-color: slategray;
    border: 1px solid white;
    cursor: pointer;
}
.text{
    margin-right: 0px;
    border: 0px;
    cursor: default;
}
.pushed{
    background-color: rgb(73, 86, 100);
}

#map_container{
    height: 540px;
    width: 960px;
    margin: 0px auto 8px;
    border: 1px solid white;
    position: relative;
}

.map>img{
    height: 540px;
    width: 960px;
}

.location_name>button{
    position: absolute;
    padding: 0px;
    cursor: pointer;
}
.interior{
    background-color: rgba(60, 180, 114, 0.7);
    border: 2px solid rgb(46, 138, 86);
}
.exterior{
    background-color: rgba(178, 34, 34, 0.7);
    border: 2px solid darkred;
}
.custom{
    background-color: rgba(95, 158, 160, 0.7);
    border: 2px solid darkslategray;
}
.transparent{
    background-color: transparent;
    border: none;
}

.objective_location>img{
    position: absolute;
    padding: 0px;
    width: 16px;
    height: 22.5px;
    border: 0px;
}
.objective_location>div{
    position: absolute;
    padding: 0px;
    border: 2px solid rgba(255, 255, 0, 0.5);
    background-color: rgba(255, 255, 0, 0.3);
}

.reinforcement{
    position: absolute;
    padding: 0px;
    border: 1px solid white;
    background-color: blue;
}
.angle{
    position: absolute;
    padding: 0px;
    border: none;
    background-color: red;
    color: white;
    text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}
.rotation{
    position: absolute;
    padding: 0px;
    border: none;
    background-color: pink;
    color: black;
    text-shadow: -1px -1px 0 pink, 1px -1px 0 pink, -1px 1px 0 pink, 1px 1px 0 pink;
}
.barricade{
    position: absolute;
    padding: 0px;
    border: 1px solid yellow;
    background-color: olivedrab;
}
.setup>span{
    position: absolute;
    padding: 0px;
    border: none;
    width: 8px;
    height: 14px;
    background-color: transparent;
    font-size: 12px;
    text-align: center;
    cursor: default;
}
.setup>span:hover{
    color: transparent;
    background-color: transparent;
    text-shadow: -1px -1px 0 transparent, 1px -1px 0 transparent, -1px 1px 0 transparent, 1px 1px 0 transparent;
}

#location_box{
    height: 225px;
    width: 260px;
    background-color: burlywood;
    position: absolute;
    border: 1px solid white;
    cursor: move;

    top: 20px; left: 20px;
}
#box_close{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 20px;
}
#location_box>img{
    width: 240px;
    height: 135px;
    margin: 30px 10px 10px;
}
#location_box>p{
    position: absolute;
    padding: 0px;
    border: none;
    margin: -10px auto 20px;
    font-size: 15px;
    position: relative;
    text-align: center;
}